@model List<Libro>
@{
    var libros = Model;
}

 <div class="row">
    <div class="col-md-12"><br>
        <h1 style="text-align:center"><u>Buscar Catálogo</u></h2>
        
    </div>
</div>

<form asp-action="Libros" method="GET">
    <input type="text" name="buscar" class="form-control" value="@ViewBag.buscar"><br>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<br>
<table class="table">
    <tr>
        <th>Codigo de Libro</th>
        <th>ISBN</th>
        <th>Categoria</th>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Editorial</th>
        <th>Año de publicacion</th>
    </tr>

    @foreach (var e in libros)
    {
        <tr>
            <td>@Html.DisplayFor(ModelItem => e.cod_lib)</td>
            <td>@Html.DisplayFor(ModelItem => e.ISBN)</td>
            <td>@Html.DisplayFor(ModelItem => e.Categoria.Nombre)</td>
            <td>@Html.DisplayFor(ModelItem => e.titulo)</td>
            <td>@Html.DisplayFor(ModelItem => e.autor)</td>
            <td>@Html.DisplayFor(ModelItem => e.editorial)</td>
            <td>@Html.DisplayFor(ModelItem => e.año_pub)</td>
            <td>    
                <a type="button" class="btn btn-warning btn-sm" asp-controller="Libro" asp-action="Details" asp-route-id="@e.cod_lib">Ver Detalle</a> |
                
                <a  type="button" class="btn btn-success btn-sm" asp-controller="Home" asp-action="GenerarPrestamo">Reservar</a>
            </td>
        </tr>
    }
</table>


<div class="row">
    <div class="col-md-7">
    </div>
    <div style="text-align:right" class="col-md-5">
       <a  class="btn btn-primary" href="Menu">Regresar</a>

    </div>
</div>