@model List<Prestamo>
@{
    var prestamos = Model;
}

<h1>Listado de Prestamos</h1>

<form asp-action="Prestamos" method="GET">
    <input type="text" name="buscar" class="form-control" value="@ViewBag.buscar"><br>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<br>
<table class="table">
    <tr>
        <th>Codigo de Prestamo</th>
        <th>Libro</th>
        <th>Estudiante</th>
        <th>Modalidad</th>
        <th>fecha_reserva</th>
        
    </tr>

    @foreach (var p in prestamos)
    {
        <tr>
            <td>@Html.DisplayFor(ModelItem => p.cod_prest)</td>
            <td>@Html.DisplayFor(ModelItem => p.Libro.titulo)</td>
            <td>@Html.DisplayFor(ModelItem => p.Estudiante.nomb)</td>
            <td>@Html.DisplayFor(ModelItem => p.Modalidad.Nombre)</td>       
            <td>@Html.DisplayFor(ModelItem => p.fecha_reserva)</td>
        </tr>
    }
</table>
<div class="row">
    <div style="text-align:right" class="col-md-12">
        <a  class="btn btn-primary" href="RegistrarLibro">Regresar</a>
         
    </div>
</div>

    
